<div class="item">
    <img [src]="productImage" alt="{{ productName }}" class="item-image" />
    <h2 class="item-name">{{ productName }}</h2>
    <p class="item-price">R$ {{ productPrice }}</p>
    <p class="item-promotion-text" *ngIf="promotion && promotion > 0">
        Por apenas R$ {{ (productPrice - (productPrice * (promotion / 100))).toFixed(2) }}
    </p>
    <button class="item-buy-button" (click)="toggleCart()">
        {{ inCart ? 'Remover do carrinho' : 'Adicionar ao carrinho' }}
    </button>


    <span class="item-cart-icon" *ngIf="inCart === true">
        🛒
    </span>

    <button class="item-buy-button" *ngIf="isCart === true" (click)="buy()">
        Comprar
    </button>
</div>