<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<app-nav></app-nav>
<app-header></app-header>
<main>
  <div class="content">
    <h1>{{ title }}</h1>

    <div class="product-list">
      <app-item *ngFor="let item of items" [productName]="item.name" [productPrice]="item.price"
        [promotion]="item.promotion" [inCart]="item.inCart" [productImage]="item.image" (cartToggle)="addToCart(item)">
      </app-item>
    </div>

    <div class="cart">
      <h2>Carrinho</h2>
      <div class="cart-items">
        <app-item *ngFor="let cartItem of cartItems" [productName]="cartItem.name" [productPrice]="cartItem.price"
          [isCart]="true" [promotion]="cartItem.promotion" [inCart]="true" [productImage]="cartItem.image">
        </app-item>
      </div>
      <p><strong>Total:</strong> R$ {{ cartTotal.toFixed(2) }}</p>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
<app-footer></app-footer>