*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}


header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo{
    color: rgb(37, 138, 233);

}


.logo a{
    font-weight: normal;
    font-size: 24px;
}

.logo a:hover{
   cursor:pointer
}


.menu{
    width: 80%;
    text-align: right;
}


.menu a{
    color:rgb(53, 134, 209);
    text-decoration: none;
    font-size: 16px;
    margin-right: 30px;
    transition : 0.4s
}


.menu a:hover{
    color:aqua;
    font-size: 16px;
    text-decoration : none;
}

.menu .btn-menu{
    background-color:rgb(122, 0, 0);
    display: inline-block;
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
}


.menu .btn-menu:hover{
    background-color: rgb(4, 35, 211);
    color: white;
    font-size: 16px;
}


/*
Section Main
*/

section.main{
    background-image: url('../img/overlay.png') ,
    linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    padding: 68px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.main_cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;
    text-align: center;
}


.main_cta h2{
    color:rgb(24, 109, 189);
    font-size: 40px
}


.main_cta p{
    color: gree;
    font-size: 19px;
    margin: 10px 0 
}


.main_cta button{
    background-color: rgb(0, 162, 255);
    display: inline-block;
    padding: 8px 20px;
    color: white;
    border-radius: 6px;
    font-size: 17px;
    /* border: 0; */
    cursor: pointer
}


.diferenciais{
    display: flex;
    flex-wrap: wrap;
}


.diferencial-single{
    border-radius: 8px;
    background-color: white;
    width: 23% ;
    margin-right: 2%;
    padding: 50px 20px
}


.diferencial-single svg{
    color: rgb(24, 109, 189);
}


.diferencial-single h2{
    color: rgb(24, 109, 189);
    margin: 10px 0;
    font-size: 18px
}



.diferencial-single p{
    font-size: 14px;
    line-height: 30px
}


ul a {
    margin-right: 10px;
}
    .ul-1 {
        margin-left: 30%;
        margin-top: 20px;
    }
  
    
    nav {
        background-color: rgb(42, 23, 128);
        height: 100%;
        width: 0px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        transition: width 0.3s;
    }


@media screen and (max-width: 768px) {
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }
}