html,
body {
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
} */

app-footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
}