:root {
    --bg-color: ;
    --text--color: ;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}


.nav-button {
    padding: 4px;
    margin: 8px;

    border: 0;
    border-radius: 4px;

    cursor: pointer;
    background-color: #0062b5;

}

.nav-button i {
    color: #fff;

}

.overlay {
    width: 0;
    height: 100%;

    top: 0;
    left: 0;

    position: fixed;
    z-index: 9;
    overflow-x: hidden;
    transition: all 0.5s;

    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: relative;


    text-align: center;
}

.overlay a {
    padding: 8px;
    margin-top: 8%;

    display: block;
    /*Um embaixo do outro*/

    font-size: 30px;
    color: #0062b5;
    text-decoration: none;

    transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
    color: #fff;
}

.overlay .closeBtn {
    margin-top: 0;
    right: 5%;
    position: absolute;

    font-size: 60px;
}

